:root {
    --lightBlue: #8ecae6;
    --darkBlue: #044464;
    --mintcream: #83c4a4;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: laila, Raleway, 'Franklin Gothic Medium', 'Arial Narrow';
}

li {
    list-style: none;
}

body {    
    height: 100vh;
}

.header-custom {
    background-color: var(--mintcream);
    max-width: 100%;
    height: auto;
    width: auto;
    background-size: cover;
}

h1, .search-form, h4 {
    font-weight: bolder;
    font-family: Raleway, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-card {
    background-color: var(--darkBlue);
    color: white;
}

.day-card {
    background-color: var(--lightBlue);
    min-height: 200px;
}

.fiveDays {
    color:var(--darkBlue);
    font-size: 13px;
}

#searchBtn:hover {
    background-color: var(--darkBlue);
    font-weight: 400;
    color: white;
    transform: scale(1.04);
}

.city-buttons:hover {
    background-color: var(--lightBlue);
    color: var(--darkBlue)
}

.hidden {
    display: none;
}

.show {
    display: block;
}